 .rating input[type="radio"] {
      display: none;
    }

    .rating label {
      font-size: 4rem;
      color: lightgray;
      cursor: pointer;
      transition: color 0.2s;
      margin: 0 2px;
    }

    .rating input[type="radio"]:checked~label,
    .rating label:hover,
    .rating label:hover~label {
      color: gold;
    }

    .col-pelicula { width: 75%; }
  .col-promedio { width: 25%; text-align: center; }